body {
    background: #B5B5B5;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logobat {
    text-align: center;
}

#logobat img{
    width: 396px;
    margin-bottom: -62px;
    /* para vermelho: margin-top:84px; */
}

#barraMeio{
    width: 800px;
    height: 120px;
    background: black;
    border-radius: 30px;
    margin: auto;
    display: flex;
    gap: 100px;
    padding: 10px 50px;
    font-size: 60px;
}

#barraMeio a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: 0.2s;
    border-radius: 50%;
    color: #cc2524;
}

#barraMeio a:hover{
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}



@media (max-width: 2000px){
    #logobat img{
    margin-top: 170px;
    }
}

@media (max-width: 1800px){
    #logobat img{
    margin-top: 0px;
    }
}



@media (max-width: 1000px) {

body {
    padding-bottom: 20px;
}

    #logobat img{
        width: 60%;
        margin-top: 0px;
        margin-left: 80px;
    }

    #barraMeio{
        margin-top: 30px;
        width: 40%;
        height: 800px;
        margin-left: 270.4px;
        display: block;
        padding: 20px 10% 20px 10%;
        font-size: 60px;
    }

    #barraMeio a{
        padding-top: 70px;
        padding-bottom: 60px;

    }
}

@media(max-width: 500px){
    #barraMeio{
        margin-left: 114.945px;
        width: 60%;
    }
}

@media(max-width: 400px){
    #barraMeio{
        margin-left: 114.945px;
    }
}

@media(max-width: 350px){
    #barraMeio{
        margin-left: 104px;
    }
}