*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b5b5b5;
}




/* login abaixo */ 




body{
    margin:0px ;
 }
 
 
    
  
    
   

 
 .principal{    
    width: 100%;
    height:100vh; 
    background-image: url(../assets/LOGIN\ definitivo\ -.png);
    background-position: center;
    background-size: cover;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;

}
#batc{
  top: 5px;
  position: absolute;
  
}
.login{
background-color: rgba(0, 0, 0, 0.623);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 60px;
width: 281px;

height: 312px;
padding: 32px 16px; 
margin-top: 30px ;

}
.login form{
    display: flex;
    flex-direction: column;
    
    
} 

.login  input{
   border-radius: 32px;
   width: 224px;
   height: 39px;
   margin-top: 25px;
   border: none;
    padding: 20px;
    font-size: 16px;
    text-decoration: medium;
}
.buttonred{
    background-color:#CB2523 ;
    color: #D9D9D9;
    display: flex;
    justify-content:space-between;
    border-radius: 32px;
    width: 224px;
    height: 39px;
    margin-top: 25px;
    border: none;
    align-items: center;
    padding: 20px;
    padding-right: 10px;
    font-size: 16px;
    text-decoration:medium ;
} 
.buttonred:hover{
    background-color:#e21e17bb ;

}
.name{
    position: relative;
    width: 100%;

}
.name i{
    color: gray;
    font-size: 1.2em;
    position: absolute;
    top: 35px; 
    right:15px ;
}

.bv{ 
 border-radius: 30px 30px 0px 30px;
 background-color:#d9d9d92f;
 width:382px ;
 height:70px ;
padding: 16px 8px;
 display: flex;
 align-items: center;
 
}
.hbv{
    color: #D9D9D9;
    font-size: 30px;
    text-shadow:2px 2px black;
    border:black 2px ;
    text-align: center;
    margin-right: 5px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    
}
.alfred{
    width: 177px;
    height: 637px;
}
.segundaria{
    display: flex;
    flex-direction: row-reverse;
    
   margin-right:300px ;
  
}
.ptres{
    display: flex;
    flex-direction:column ;
    align-items: center;
   margin-bottom: 50px;    

}
.simbolo{
    position: absolute;
    bottom: 5px;
    left: 10px;

}
@media screen and (max-width:1440px) {
   
    

    
      
      
   
   #batc{
    top: 40px;
    left: 40px;
   }
} 
@media screen and (max-width:1370px) {
  
    
  

   .segundaria{
      right:100px ;
      
       
   }
   #batc{
     
     left:15px ;
   }
   .simbolo{
    bottom: 10px;
    left:10px ;
   }
   
} 
@media screen and (max-width:1370px) {
.principal{
    background-size:110% ;
}




}

@media screen and (max-width:900px) {
    .principal{
        background-size:190% ;
      display: flex;  
       align-items: center;
       flex-direction: column; 
        
    }
    #batc{
        top: 40px;
    }
     .segundaria{
        margin-right: 50px ;
     }
     .simbolo{
      left:3px ;
     }
} 
@media screen and (max-width:425px) {
   
   .principal{
    background-size: 350%;
   }
   
    .alfred{
        display: none;

    }
    .bv{
        display: none;
    }
   .login input {
    width:150px ;
    
   }
   .buttonred{
    width: 150px;
   }
   .login{
    width:200px ;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
   }
   
   #batc{
    margin-left:80px ;
   }
   .simbolo{
    margin-left:110px ;
   }
   
}
@media screen and (max-width:375px) {
    .login input {
        width:110px ;
        font-size: 12px;
       }
       .principal{
        background-size:380% ;
       }
       .buttonred{
        width: 110px;
        font-size: 12px;
       }
       .login{
        width:180px ;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        
       }
    #batc{
        margin-left: 100px ;
        
        
        
    }
    .simbolo{
      margin-bottom:20px ;
      margin-left: 90px;
    }
    .segundaria{
      top: 300px;
    }
    
}
@media screen and (max-width:320px) {
.principal{
  height:100vh;
  background-size:450% ;
}

  #batc{
  top: 30px;
  left: 0px;
  
  
}
 .simbolo{
  right:30PX ;
  margin-left: 70PX;
 }
  

}
.errormsg{
    font-size: 18px ;
    color: #D9D9D9;
}


