*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b5b5b5;
}
#logo{                   /* para mover uma imagem, é necessario criar uma caixa"em volta" dela*/
    width: 212px;
    height: 89px;
    margin-top: 64px;
    margin-left: auto;    /* para centralizar, tem q ser pela caixa tbm*/
    margin-right: auto;
    border: 1px solid red;
}
#logo img {
    width: 212px;
    height: 89px;
    margin-left: auto;
    margin-right: auto;
}
#conteiner{

    width: 1146px;
    height: 751px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 200px;
    border-radius: 30px;
    border: 1px solid red;
}
#bordaverm{
    width: 23px;
    height: 751px;
    background-color: red;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    
}
#profile img{
    width: 438px;
    height: 200px;
    margin-top: 35px;
    margin-left: 67px;
    
    
}



/* login abaixo */ 




body{
    margin:0px ;
 }
 
 
    
  
    
   

 
 .principal{    
    width: 100%;
    height:100vh; 
    background-image: url(../assets/LOGIN\ definitivo\ -.png);
    background-position: center;
    background-size: cover;
    
}
#batc{
  top: 5px;
  position: absolute;
  
}
.login{
background-color: rgba(0, 0, 0, 0.623);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 60px;
width: 281px;

height: 312px;
padding: 32px 16px; 
margin-top: 30px ;

}
.login form{
    display: flex;
    flex-direction: column;
    
    
} 

.login  input{
   border-radius: 32px;
   width: 224px;
   height: 39px;
   margin-top: 25px;
   border: none;
    padding: 20px;
    font-size: 16px;
    text-decoration: medium;
}
.buttonred{
    background-color:#CB2523 ;
    color: #D9D9D9;
    display: flex;
    justify-content:space-between;
    border-radius: 32px;
    width: 224px;
    height: 39px;
    margin-top: 25px;
    border: none;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    text-decoration:medium ;
} 
.name{
    position: relative;
    width: 100%;

}
.name svg{
    position: absolute;
    top: 35px; 
    right:15px ;
}

.bv{ 
 border-radius: 30px 30px 0px 30px;
 background-color:#d9d9d92f;
 width:382px ;
 height:70px ;
padding: 16px 8px;
 display: flex;
 align-items: center;
 
}
.hbv{
    color: #D9D9D9;
    font-size: 30px;
    text-shadow:2px 2px black;
    border:black 2px ;
    text-align: center;
    margin-right: 5px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    
}
.alfred{
    width: 177px;
    height: 637px;
}
.segundaria{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 200px;
    right:300px ;
  
}
.ptres{
    display: flex;
    flex-direction:column ;
    align-items: center;
   margin-bottom: 50px;    

}
.simbolo{
    position: absolute;
    bottom: 5px;
    left: 10px;

}
@media screen and (max-width:1440px) {
   
    

    
      
      
   
   #batc{
    top: 20px;
    left: 40px;
   }
} 
@media screen and (max-width:1024px) {
  
    
  

   .segundaria{
      right:100px ;
      
       
   }
   #batc{
     top:15px ;
     left:15px ;
   }
   .simbolo{
    bottom: 10px;
    left:10px ;
   }
   
} 
@media screen and (max-width:900px) {
    .principal{
        
      display: flex;  
       align-items: center;
       flex-direction: column; 
        
    }
     .segundaria{
        left: 80px ;
     }
     .simbolo{
      left:3px ;
     }
} 
@media screen and (max-width:650px) {
   
   
   
    .alfred{
        display: none;

    }
    .bv{
        display: none;
    }
   .login input {
    width:150px ;
    
   }
   .buttonred{
    width: 150px;
   }
   .login{
    width:200px ;
    height: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
   }
   .segundaria{
     position: relative;
     top: 300px;
     left:0px ;
   }
   #batc{
    margin-left:80px ;
   }
   .simbolo{
    margin-left:110px ;
   }
   
}
@media screen and (max-width:380px) {
    .login input {
        width:110px ;
        font-size: 12px;
       }
       .buttonred{
        width: 110px;
        font-size: 12px;
       }
       .login{
        width:180px ;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
       }
    #batc{
        margin-left: 100px ;
        
        
        
    }
    .simbolo{
      margin-bottom:20px ;
      margin-left: 90px;
    }
    .segundaria{
      top: 300px;
    }
    
}
@media screen and (max-width:320px) {
.principal{
  height:100vh;
  
}

  #batc{
  top: 30px;
  left: 0px;
  
  
}
 .simbolo{
  right:30PX ;
  margin-left: 70PX;
 }
  




}

/* adusuariarios */

.fundoprincipal{
  width:100% ;
 height:100vh ;
 background-color: #b5b5b5;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.divform{
  max-width: 500px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #b8b8b8;
  border:1px;
  border-style:solid;
  color: #cc2534;
  justify-content: center;
  border-radius: 40px;
  padding-right: 0px;
  padding-top: 30px;
} 
.formad{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.af{
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  margin-top: 48px;
  margin-bottom: 14px;
}
.in{
  width:390px ;
  background-color:#d9d9d9; 
  height:40px ;
  margin:5px;
  border-radius: 15px;
  border: 1px solid rgba(204,37,37,0.5);
  
}
.in:focus{
border:1px solid #d9d9d9;
  outline:1px solid #cc2524;
}

.nc{
display: flex;
  font-size: 40px;
  color:#cc2524;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  margin-bottom: 10px;
  
}
.tt{
  position: relative;
  right:170px ;
  font-size:23px ;
  color:#cc2524;
  font-family: "Oswald", sans-serif;
}
.f{
  border-radius: 10px;
  color:white ;
  background-color: #cc2524;
  border: none;
  width: 60px;
  height: 40px;
  position: relative;
  right:10px ;
  cursor: pointer;
  transition: opacity 0.1s,background 0.2s;
  
  
  font-family: "Oswald", sans-serif;
}
.f:hover{
background-color: rgba(229,49,49,1);
}
.fe{
  border-radius: 10px;
  color:#cc2524;
  background-color:#b8b8b8 ;
  cursor: pointer;


  width: 60px;
  height: 40px;
  
  font-family: "Oswald", sans-serif;
  border:1px;
  border-style: solid;
  border-color: #cc2524;
  transition: opacity 0.1s,background 0.2s;
}
.fe:hover{
background-color: rgba(220,220,220,0.8);
}

@media screen and (max-width: 1024px){ 

.divform{
 left: 27%;
}


}
@media screen and (max-width: 768px){ 
 .divform{
  left: 17%;
 }


}

@media screen and (max-width: 550px){
.divform{
  width: 80%;
  left: 10%;

}
.af{
  left: 50px;
}
.nv{
  bottom: 35px;
}
.nc{
  font-size: 35px;
}
.in{
  width:290px ;
}
.tt{
  font-size:18px ;
  right:110px ;
}
.f{
  right:5px ;
}
.fe{
  left: 5px;
}
}
@media screen and (max-width: 400px){
  .divform{
    width: 245px;

  }
  .af{
 left: 0px;
       
  }
  .nv{
    bottom: 30px;
  }
  .nc{
    font-size: 25px;
  }
  .in{
    width:80% ;
  }
  .tt{
    font-size:13px ;
    right:0px ;
  }
  .f{
    right:5px ;
    height:30px ;
    width:60px ;
  }
  .fe{
    left: 5px;
    height: 30px;
    width:60px ;
  }
}

/edusuarios/ 

.edfundoprincipal{
  width:100% ;
 height:100vh ;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.eddivform{
  max-width: 500px;
  width: 100%;
  border-radius: 40px;
  background-color: #b8b8b8;
  align-items: center;
  flex-direction: column;
  border:1px solid #cc2534;
  justify-content: center;
  padding-bottom:15px;
  
} 
.eddivform input:focus{
  border:1px solid #d9d9d9;
  outline:1px solid #cc2524;
}  
.formed{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9%;
}
.edaf{
  display: flex;
  justify-content: flex-end;
  margin-top: 14%;
  padding-right: 29px;
}
.edin{
  width:390px ;
  background-color: #d9d9d9;
  height:40px ;
  margin:5px; 
  border-radius: 15px;
  border: 1px solid rgba(204,37,37,0.5);
  
}
.ednv{
display: flex;
justify-content: center;
margin-top: 3%;
}
.ednc{
  font-size: 40px;
  color:#cc2524;
  font-family: "Oswald", sans-serif;
  
}
.edtt{
  position: relative;
  right:170px ;
  font-size:23px ;
  color:#cc2524;
  font-family: "Oswald", sans-serif;
}
.edf{
  border-radius: 10px;
  color:white ;
  background-color: #cc2524;
  width: 60px;
  height: 40px;
  position: relative;
  right: 10px;
  border-style:solid ;
  border:none;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: background 0.2s;

}
.edf:hover{
background-color: rgba(229,49,49,1);
}
.edfe{
  border-radius: 10px;
  color:#cc2524;
  background-color: #b8b8b8;
  width: 65px;
  height: 40px;
  border:1px;
  border-color:#cc2524;
  border-style:solid ;
  cursor: pointer;
  transition: background 0.2s;
  font-family: "Oswald", sans-serif;
}
.edfe:hover{
background-color: rgba(220,220,220,0.8); 
}
@media screen and (max-width: 1024px){ 
.eddivform{
left: 27%;
}


}
@media screen and (max-width: 768px){ 
.eddivform{
 left: 17%;
}


}


@media screen and (max-width: 550px){
.eddivform{
  width: 80%;
  left:10% ;

}
.edaf{
  left: 50px;
}
.ednv{
  bottom: 35px;
}
.ednc{
  font-size: 35px;
}
.edin{
  width:290px ;
}
.edtt{
  font-size:18px ;
  right:110px ;
}
.edf{
  right:5px ;
}
.edfe{
  left: 5px;
}
}
@media screen and (max-width: 400px){
  .eddivform{
    width: 82%;

  }
  .edaf{
    left: 0px;
  }
  .ednv{
    bottom: 30px;
  }
  .ednc{
    font-size: 25px;
  }
  .edin{
    width:80% ;
  }
  .edtt{
    font-size:13px ;
    right:0px ;
  }
  .edf{
    right:5px ;
    height: 30px;
    width:60px ;
  }
  .edfe{
    left: 5px;
    height: 30px;
    width: 60px;
  }
  
}

/deletarusuario/
 
.deleprincipal{
  width: 100%;
  height: 100vh;
   display: none;
   align-items: center;
  justify-content: center;
}
.divdelete{
  width: 100%;
  max-width:800px ;
  align-items: center;
  flex-direction: column;
 
  border:1px solid #cc2534;
  border-radius:40px ;
  background-color: #b8b8b8;
  padding-bottom:15px;
}
.texti{
 position: relative;
 margin-top: 15PX;

}
.exu{
font-family: "Oswald", sans-serif;
font-size: 35px;
color: #cc2524;
text-align: center;


}
.divaviso{
position: relative;
top:10px ;  
}
.deletext{
font-family: "Oswald", sans-serif;
font-size:30px ;
color: black;
margin-left: 33px;

}
.bbpos{
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 30px;
margin-top: 35px;
}
.butcan{
border-radius:10px ;
background-color: #cc2524;
color:white;
height: 40px;
width:60px ;
margin-right: 8px;
cursor: pointer;

font-family: "Oswald", sans-serif;

border:none ;
}
.butcan:hover{
background-color: rgba(229,49,49,1);
}
.butex{
border-radius: 10px; 
background-color: #b8b8b8;
color: #cc2524;
height:40px ;
width:65px ;
font-family: "Oswald", sans-serif;
border:1px;
border-color:#cc2524 ;
border-style:solid ;
cursor: pointer;


}
.butex:hover{
background-color: rgba(220,220,220,0.8);

}
@media screen and (max-width:950px ) {
.divdelete{
  width:75% ;
}
.exu{
  font-size:30px ;
}
.deletext{
  font-size:25px ;
  left:2px ;
}
.butcan{
 left:140px ;
 top:-20px ;
}
.butex{
  left:150px ;
  top: -20px;
}
}
@media screen and (max-width:750px ) {
.divdelete{
  width:75% ;
}
.exu{
  font-size:25px ;
}
.deletext{
  font-size:20px ;
  left: 1px;
}
.butcan{
 left:50px ;
 width:70px ;
 top: 40px ;
}
.butex{
  left:100px ;
  width:70px ;
  top: 40px ;
}

  

}
@media screen and (max-width:590px ) {
.divdelete{
  width:75% ;
}
.exu{
  font-size:22px ;
}
.deletext{
  font-size:17px ;
  
}
.butcan{
 left:0px ;
 top: 30px;
}
.butex{
  left:10px ;
  top: 30px;
}
}
@media screen and (max-width:375px ) {
  .divdelete{
    width:75% ;
  }
  .exu{
    font-size:22px ;
  }
  .deletext{
    font-size:17px ;
    
  }
  .butcan{
   left:0px ;
   top: 1px;
  }
  .butex{
    left:10px ;
    top: 1px;
  }
}
  @media screen and (max-width:320px ) {
    .divdelete{
      width:90% ;
    }
    .exu{
      font-size:22px ;
    }
    .deletext{
      font-size:17px ;
      
    }
    .butcan{
     left:0px ;
     top: -15px;
    }
    .butex{
      left:10px ;
      top: -15px;
    }  

} 

/visualizar usuarios/

.vsfundo{
height:100vh ;
width:100% ;
display: flex;
align-items: center;
justify-content: center;

}
.divvs{
display: flex;
max-width:500px ;
width:100% ;
padding-bottom:15px;
border:1px;
background-color:#b8b8b8;
border-color: #cc2524;
border-style:solid ;
border-radius:60px ;
flex-direction: column;
}
.divti{
display: flex;
justify-content: center;
margin-top: 5%;
}
.cabeca_butao{
margin-right: 8%;
margin-top: 8%;
display: flex;
justify-content: flex-end;
}
.cabeca_conteudo {
margin-left: 5%;
margin-top: 8%;
}
.divvn{
margin-bottom: 10px;
}
.vsidu{
margin-bottom: 10px;
}
.idu{
font-family: "Oswald", sans-serif;
color: #cc2524;
font-size: 30px;
}

.h2vs{
color: #cc2524;
font-size: 40px;
font-family: "Oswald", sans-serif; 

}
.pvs{
font-family: "Oswald", sans-serif;
color: #cc2524;
font-size: 30px;
}

.butvs{
width:60px ;
height:40px ;
border-radius: 10px;
font-family: "Oswald", sans-serif;
background-color: #cc2524;
color:white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border:0;
transition: opacity 0.1s,background 0.2s;
}
.butvs:hover{
background-color: rgba(229,49,49,1);
}
.ppu{
font-family: "Oswald", sans-serif;
}
.ppu2{
font-family: "Oswald", sans-serif;
}
@media screen and (max-width: 1024px){ 
.divvs{
 left: 27%;
}


}
@media screen and (max-width: 768px){
 .divvs{
  left: 17%;
 }          
}



@media screen and (max-width:570px){
.vsidu{
  left:-95px ;
}
.divvs{
  left:10% ;
}
.idu{
  font-size: 23px;
}
.divvs{
  width:75% ;
}
.h2vs{
  font-size: 22px;
}
.pvs{
  font-size:23px ;
}
.divve{
   right:50px ;
}
.divvn{
  right: 83px;
}
.butvs{
  left:100px ;
  top: 170px ;
}
}




@media screen and (max-width:344px){
.h2vs{
font-size:20px ;
}
.butvs{
margin-right: 20px;
}
.divvs{
  width: 265px;
}

}
@media screen and (max-width:150px){
.butvs{

 margin-right: 80px;
}
.divvs{
 width:85% ;
 left: 20%;
}
.h2vs{
 font-size: 20px;
 
}
.vsidu{
left:-79px ;
}
.pvs{
 font-size:23px ;
 position: relative;
 left: 30px;
}
.divve{
  right:45px ;
}
.divvn{
 right: 83px;
}
.ppu{
 margin-left:30px ;
}
.ppu2{
 margin-left: 35px;
}




}



body{
margin: 0;
}

/*////////// Tabela Background e top Div ////////////////*/
.back{
 background-image: url(../assets/gotham.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  
  background-color: #b5b5b5; /* temporario */
  min-height: 100vh;
  padding: 20px;
}

.cont_user{
  border: 1px solid rgba(255, 255, 255, 0.384); /* temporario */
  background-color: #03020212; /* temporario */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  
  font-family: "Inter", sans-serif;
  color: #ffffff ;

}
.title_user{
  padding-left: 5%;
  font-size: 24px;
  
}
.bt_create{
  display: flex;
  align-items: center;
  margin-right: 5%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #ffffff;
  border-style: solid;

  font-family: "Inter", sans-serif;
  color: #ffffff ;
  font-size: 15px;

  cursor: pointer;
}
.bt_create:hover{
  background-color: #8b0c0cb1; /*cores temp*/
  text-decoration:none;
}

/*///// tabela /////*/

.cont_tab{
  
}
table{
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 3; 
  width: 100%; 
  border-collapse: collapse;
}

th{
  border: 1px solid white;
  border-bottom: none;
  border-top: none;
}

thead,tbody tr{   /* Coloca background no thead e no tbody pra manter o espaçamento entre os 2 transparente */
  background-color:rgba(0, 0, 0, 0.8);
  border-left: 3px solid white;
  overflow: hidden;
}

tbody tr{
  backdrop-filter: blur(2px); /*Se colocar junto com o thead as bordars somem !? */
}

tbody:before {
  line-height:2.5em;
  content:"\200C"; /* caractere invisivel pra dar espaço */
  color:white;
  display:block;
}
tbody tr:nth-child(even){
  background-color: #3c0707c4; /* tab row  */
  
}
tbody tr:hover{
  background-color:rgba(41, 40, 45, 0.5); /* tab row hover*/
}

td {
  padding: 0.5rem;
  text-align: center;
}
td button{
  padding: 8px 14px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2px;

  background-color: transparent;
  color: #ffffff;
  border-style: solid;
  border-color: white;
}
.header_ac{
  border-right: none;
}
.header_id{
  padding: 0px 10px
}
.bt_vis{

}
.bt_edit{
  border-color: rgba(6, 126, 178, 0.757) ; /*cores temp*/
  color: rgb(25, 139, 221);
}
.bt_delete{
  background-color: #3c0707c4; /*cores temp*/
  border-color: rgba(255, 255, 255, 0.757) ;
}
.bt_vis:hover{
  background-color: #776d6d75; /*cores temp hover botoes tab*/
}
.bt_edit:hover{
  background-color: rgba(30, 91, 121, 0.482);
  color: rgba(255, 255, 255, 0.835);
  border-color: white;
}
.bt_delete:hover{
  background-color: #8b0c0cb1;
}
/*//////// Responsividade ///////*/

@media (max-width: 650px){
  th{
      display: none; 
  }
  td {
      display: flex;
      padding: 0.75rem 0.5rem;
      flex-wrap: wrap;
  }
  td::before {
      font-weight:800;
      padding-right: 0.5rem;
      padding-left: 0.3rem;
  }
  td:first-child{
      padding-top: 2rem;
  }
  td:last-child{
      padding-bottom: 2rem;
  }
  td:nth-of-type(1)::before{
      content: "ID:";
  }
  td:nth-of-type(2)::before{
      content: "Usuário:";
  }
  td:nth-of-type(3)::before{
      content: "Email:";
  }
  td:nth-of-type(4)::before{
      content: "Ação:";
  }
  
  td button{
      height: 100%;
      align-self: center;
      margin: 1%;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;

  } 
  .bt_delete, .bt_vis, .bt_edit{
      flex-grow: 0.3;
  }
  .bt_delete{
      display: flex;
      justify-content: center;
     /* margin-left: 35%; Com isso o botao de delete desce uma linha numa resolução mais baixa*/
  }
}

@media (min-width:574px) and (max-width:650px){
  .bt_delete{
      margin-left: 1%;
  }
}
/*/// paginacao ///*/
.paginacao{
  text-align: left;
  display: flex;
 }
.paginacao a, .paginacao button{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2%;
  padding: 8px 12px;
  background-color: #c8cfca1e; /*cor background pag*/
  border: 1px solid rgba(158, 149, 149, 0.681); /*cor borda pag */
 }
.seta_pag1{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.seta_pag2{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.paginacao a.active, button.active{
  background-color:#3c0707c4; /*cores temp active pag */
  font-weight: bold;
}
.paginacao a:hover:not(.active), .paginacao button:hover:not(.active){
  background-color: #3c0707c4; /*cores temp hover pag*/
}
.fa-solid{
 font-size: 50%;
 font-weight: 300;
}

/* troca de paginacao */
table{
  display: none;
}
/* icones */
.fa-regular::before {
  display: none;
}  

@media (max-width: 400px){
  
  .fa-regular::before {
      display: inline-block;
      font-size: 110%;
      font-weight: 300;
  }  
  .fa-pen-to-square::before{
      font-weight: 500;

  }
  .stx {
      display: none;
  }
  td button {
      width: 20%;
  }
  .bt_create{
      padding: 4px 18px;
  }

}

 /* arrumnando a cagada */
 .cont_modal{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }