*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b5b5b5;
}
#logo{                   /* para mover uma imagem, é necessario criar uma caixa"em volta" dela*/
    width: 212px;
    height: 89px;
    margin-top: 64px;
    margin-left: auto;    /* para centralizar, tem q ser pela caixa tbm*/
    margin-right: auto;
    border: 1px solid red;
}
#logo img {
    width: 212px;
    height: 89px;
    margin-left: auto;
    margin-right: auto;
}
#conteiner{

    width: 1146px;
    height: 751px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 200px;
    border-radius: 30px;
    border: 1px solid red;
}
#bordaverm{
    width: 23px;
    height: 751px;
    background-color: red;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    
}
#profile img{
    width: 438px;
    height: 200px;
    margin-top: 35px;
    margin-left: 67px;
    
    
}
