* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: #b5b5b5;
}
body * {
    font-family: "Oswald",sans-serif ;
    color: white;
}
#BlocoTotalLandingPage{
    width:1440px;
    margin:auto;
    border:1px solid black;
}
#logo{
    width:343px;
    height:272px;
    margin:0px 559px 0px 560px;
}
#logo img{
    width:343px;
    height:252px;
}
#abertura{
    width:1402px;
    background-color:black;
    height:400px;
    margin:1px auto auto auto;
    padding:8px 10px;
    border-radius:10px;
    position:relative;
}
#abertura img
{
   display:block;
   
   width:1015px;
   height:321px;
   margin-left:20px;
}

#abertura p
{
    
    position:absolute;
    left:1107px;
    top:142px;
   
    z-index:1;
}
#frase1
{  
  font-weight: 600;
  font-size: 20px;
  
}
#frase2
{
  font-weight: 200;
  font-size: 16px;
  
}
#SobreNos{
    position:absolute;
    z-index:2;
    top:10px;
    left:1107px;
    font-weight: 500;
    font-size: 20px;

}
#Publicacoes{
    position:absolute;
    z-index:2;
    top:10px;
    right:27px;
    font-weight: 500;
    font-size: 20px;
}
#titulo
{
    margin:10px auto auto 140px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 30px;
    width: 1062px;
    text-align:center;
    background-color:rgba(181,181,181,0.35);
}

#titulo h1
{
    font-weight: 500;
    font-size:32px;
}
#parteCentral {
    width:1402px; 
    margin:34px auto auto auto;
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 18px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    padding: 0 24px;
    border: 1px solid red;
}
#BatmanLateral{
    width:428px;
    height:756px;
    border: 1px solid blue;
}
#RetanguloVermelhoCentral{
    width:908px;
    height:42px;
    padding:0px 28px;
    background-color: #CC2524;
    border: 1px solid white;
    justify-content: center;
   
}
#RetanguloVermelhoCentral h2
{
    font-size:32px;
    font-weight: 400;
}
#Lista2{
    width: 908px;
    height:328px;
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 80px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    margin:34px 0px 60px 0px;
    background-color:rgba(0,0,0,0.9);
    padding-left:52px;
    padding-right:52px;
    border-radius:15px;
}
#Lista2 li{
    margin-top:44px;
    height:206px;
    width:180px;
    text-align:center;
}
#LogoDc{
    width:66px;
    height:70px;
    margin-top:10px;
}
#Interrogacao{
    width:76px;
    height:70px;
    margin-top:10px;
}
#DailyPlanet{
    width:129px;
    height:67px;
    margin-bottom:3px;
    margin-top:10px;
}
#BatmanFatosDiversos{
    width:44px;
    height:75px;
    margin-bottom:5px;
}
#Lista2 li div{
    background-color:#CC2524;
    height:51px;
    width: 141px;
    margin-top:52px;
    font-size:20px;
    font-weight: 300;
    border-radius:30px;
    padding-top:11px;
}
#Lista2 li h3{
    font-size:20px;
    font-weight: 300;
}
#BlocoDoProposito{
    margin-top:34px;
    background-color: rgba(0,0,0,0.9);
    border-radius:15px;
    width:908px;
    height:216px;
    padding-top:20px;
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 18px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
}
#BlocoDoProposito p{
    margin: 0px 74px auto auto;
    font-size:24px;
    font-weight: 400;
    height:144px;
    width:734px;
   
}
/* Arrow 2 */
#seta{
margin-left:48px;
width: 34px;
height: 40px;
}
#TextoUltimasPublicacoes{
    width:455px;
    margin: 109px auto auto 152px;
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 30px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    justify-content: center;
}
#seta2{
    margin-top: 4px;
}
#TextoUltimasPublicacoes h2{
    font-size:32px;
    font-weight: 700;
    color: black;
}
#CaixaDePosts{
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 24px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    width:1146px;
    height:895px;
    margin:18px auto;
    background-color:rgba(115, 115, 115, 0.9);
    border-top: 9px solid #CC2524;
    border-bottom:9px solid #CC2524;
    border-right:7px solid #CC2524;
    border-left:7px solid #CC2524;
    padding:24px 18px;
}
#ModeloDePost1{
    width:392px;
    height:610px;
    border-radius:30px;
    border-left:27px solid#CC2524;
    background-color:black;
    text-align:center;
    
}
#ModeloDePost2{
    width:328px;
    height:788px;
}
#PostDeCima{
    height:422px;
    width:328px;
    border-radius:25px;
    border-left:21px solid#CC2524; 
    background-color:black;
    margin-bottom:22px;
    text-align:center;
}
#PostDeBaixo{
    height:344px;
    width:328px;
    border-radius:20px;
    border-left:21px solid#CC2524; 
    background-color:black;
    text-align:center;
    
}
#ImagemPost1{
    width:365px;
    height:290px;
    object-fit: cover;
    border-top-right-radius: 30px;
}
#ImagemPost2{
    width:307px;
    height:188px;
    object-fit: cover;/* Cobrir todo o espaço colocado, sem perder proporções*/
    border-top-right-radius: 25px;
}
#ImagemPost3{
    width:311px;
    height:154px;
    object-fit: cover;/* Cobrir todo o espaço colocado, sem perder proporções*/
    border-top-right-radius: 20px;
}
#Titulo1{
    font-size:44px;
    font-weight:500;
}
#Titulo2{
    font-size:36px;
    font-weight:500;
    margin:auto;
}
#Titulo3{
    font-size:32px;
    font-weight:500;
    margin:auto;
}
#TextoDescricaoPost1
{
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 16px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    margin-top:22px;
    margin-left:27px;
}
#LinhaLateral1{
    height:132px;
    width:6px;
    background-color: #CC2524;
} 
#ParteEscritaPost1{
    width: 280px;
    height: 140px;
    font-size:20px;
    font-weight:300;
    text-align: left;
}
#TextoDescricaoPost2
{
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 12px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    margin-top:5px;
    margin-left:22px;
}
#LinhaLateral2{
    height:100px;
    width:5px;
    background-color: #CC2524;
} 
#ParteEscritaPost2{
    width: 245px;
    height: 110px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
#TextoDescricaoPost3
{
    list-style: none; /*Anula estilo de pontos da lista*/
    display: flex; /*Tipo de display flexível*/
    flex-direction: row; /*Altera o padrão de linha para colunas*/
    gap: 12px; /*Adiciona um espaço entre os elementos da ul, respeitando o modelo de disposição estabelecido(nesse caso no comando logo acima)*/
    margin-top:7px;
    margin-left:22px;
}
#LinhaLateral3{
    height:65px;
    width:4px;
    background-color: #CC2524;
} 
#ParteEscritaPost3{
    width: 258px;
    height: 74px;
    font-size:14px;
    font-weight:300;
    text-align: left;
}
/* Autor: Lex Luthor */
#NomeDoAutor1{
margin-top:7px;
margin-left:20px;
width: 304px;
height: 35px;
font-weight: 600;
font-size: 24px;
text-align: left;

color: #000000;
/*Text shadow ficou melhor visualmente que o stroke*/
text-shadow:
    1px 1px 0 white,/*Baixo*/
    -1px 1px 0 white,/*Esquerda*/
    -1px -1px 0 white,/*Cima*/
    1px -1px 0 white;   
}
#NomeDoAutor2{
    margin-top:2px;
    margin-left:18px;
    width: 262px;
    height: 29px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #000000;
    /*Text shadow ficou melhor visualmente que o stroke*/
    text-shadow:
        1px 1px 0 white,/*Baixo*/
        -1px 1px 0 white,/*Esquerda*/
        -1px -1px 0 white,/*Cima*/
        1px -1px 0 white;
}
#NomeDoAutor3{
    margin-left:16px;
    width: 266px;
    height: 29px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #000000;
    /*Text shadow ficou melhor visualmente que o stroke*/
    text-shadow:
        1px 1px 0 white,/*Baixo*/
        -1px 1px 0 white,/*Esquerda*/
        -1px -1px 0 white,/*Cima*/
        1px -1px 0 white;
}
#BotaoLerMais1{
    width: 106px;
    height: 34px;
    margin: 6px 26px auto auto;
    justify-content: center;
    background-color: #CC2524;
    border-radius:25px;
}
#BotaoLerMais1 p{
    font-size:24px;
    font-weight:400;
    
}
#BotaoLerMais2{
    width: 90px;
    height: 26px;
    margin: 0px 26px auto auto;
    justify-content: center;
    background-color: #CC2524;
    border-radius:25px;
}
#BotaoLerMais2 p{
    font-size:18px;
    font-weight:400;
    
    
}
#BotaoLerMais3{
    width: 73px;
    height: 24px;
    margin: 0px 26px auto auto;
    justify-content: center;
    background-color: #CC2524;
    border-radius:25px;
}
#BotaoLerMais3 p{
    font-size:16px;
    font-weight:400;
    
}
#Logo2
{
    width: 216px;
    height:171px;
    margin-top:95px;
}

#seta3{
    margin-bottom: 30px;
    margin-left:42px;
}

