body {
    background: #B5B5B5;
    width: 1440px;
    height: 720px;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logobat img{
    width: 396px;
    height: 259px;
    margin: 84px 522px 0px;
}

#barraMeio{
    width: 800px;
    height: 120px;
    background: #cc2524;
    border-radius: 30px;
    margin: auto;
    display: flex;
    gap: 140px;
    padding: 30px 70px;
    font-size: 60px;
}

#barraMeio a:hover{
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}