body {
    margin: 0;
}

nav * {
    font-family: "Inter", sans-serif;
    color: #ffffff ;
}

nav{
    margin-right: 16px;
}

 .layout-nav li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    list-style: none;
    display: flex; /* Pra deixar a altura dos botoes iguais */ 
}

header {
    background-image: url(../assets/NavBar.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
}

.layout-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.logo {
    align-self: auto;
    width: 144px;
}

.btnav{
    display: flex;

    background-color: #cb2523;
    padding: 4px 14px;
    border: 1px solid #510f0E;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
}

.btnav:hover{
    background-color: #d5514f;
    text-decoration: underline;
}

.btnav:active{
    background-color: #A21E1C;

}

.btnav iconify-icon {
    margin-right:5px;
    margin-bottom: 2px;
    
}
iconify-icon[icon="octicon:book-16"]{
    margin-top: 3px;
}

@media (min-width:1430px){ /* Corrige o gap branco na imagem acima dessa resolução que o cover não estava fechando */
    
    header {
        background-size: 101%;
    }
} 
