<!DOCTYPE html>
<html lang="pt">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Exclusão de Posts</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    </head>
<form id="ConfirmacaoExclusaoPostForm">
  <h2>Exclusão de Post</h2>
  <p>
    ATENÇÃO! Após a conclusão dessa ação, não será possível
    desfazê-la.<br />Tem certeza que deseja excluir esse post PERMANENTEMENTE?
  </p>
  <div class="BotoesFormularios">
    <button class="Botao1Formulario" class="Botao2Formulario" onclick= "FecharModal('ConfirmacaoExclusaoPostForm')">Excluir</button>
    <button class="Botao2Formulario" class="Botao2Formulario" onclick= "FecharModal('ConfirmacaoExclusaoPostForm')">Cancelar</button>
  </div>
</form>