<!DOCTYPE html>
<html lang="pt">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Visualização de Posts</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <form id="FormularioVisualizacaoDePost">
      <h2>Visualização de Posts</h2>
      <section class="IDpostForm">
        <h3>ID:</h3>
        <p>1</p>
      </section>
      <section class="TituloPostForm">
        <h3>Título:</h3>
        <p>DC: A ORIGEM</p>
      </section>
      <section class="ConteudoPostForm">
        <h3>Conteúdo:</h3>
        <p>
          Texto informativo contando a história de origem da DC COMICS, desde os
          primórdios, e como a empresa se tornou o que é hoje.
        </p>
      </section>
      <section class="ImagemDoPostFormV">
        <h3>Imagem:</h3>
        <img
          src="/public/assets/BatmanPorvisórioPost.jpg"
          alt="Imagem do Batman do Futuro, com fundo de lua cheia em céu roxo"
        />
      </section>
      <section class="DataDeCriacaoPostForm">
        <h3>Data de criação:</h3>
        <p>07/05/2024</p>
      </section>
      <section class="NomeDoAutorPostForm">
        <h3>Autor:</h3>
        <p>Lex Luthor</p>
      </section>
      <div class="BotoesFormularios">
        <button class="Botao1Formulario" class="Botao2Formulario" onclick= "FecharModal('FormularioVisualizacaoDePost')">Fechar</button>
      </div>
    </form>
  </body>
</html>
