<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    
</head>
<body>
    <div class="fundoprincipal">
    

     
    
    <div class="divform">
        <div class="nv"><h2 class="nc">criar usuario</h2></div>
        <form class="formad">
            <label class="tt">Nome:</label>
            <input class="in" type="username"placeholder="  nome do usuario">
            <label class="tt">Email:</label>
            <input class="in" type="email"placeholder="  email">
            <label class="tt">Senha:</label>
            <input class="in" type="password"placeholder="  digite sua senha">
        </form>
        <div class="af">       
        <button class="f">fechar</button>
        <button class="fe"type="submit">enviar</button>
        </div>
    </div>
    </div>
</body>
</html>