<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="edfundoprincipal">
    

     
    
    <div class="eddivform">
        <div class="ednv"><h2 class="ednc">EDITAR USUARIO</h2></div>
        <form class="formed">
            <label class="edtt">Nome:</label>
            <input class="edin" type="username"placeholder="  usuario">
            <label class="edtt">Email:</label>
            <input class="edin" type="email"placeholder=" usuario.@email">
            <label class="edtt">Senha:</label>
            <input class="edin" type="password"placeholder="  editar senha">
        </form>
        <div class="edaf">       
        <button class="edf">CANCELAR</button>
        <button class="edfe"type="submit">SALVAR</button>
        </div>
    </div>
    </div>
</body>
</html>