<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <footer>
        <div class="leftTri">
            <div></div>
        </div>
        <div class ="contFooter">
            <h1 class="tittle">Sobre Nós</h1>
            <p class="text">A Batcaverna é um site criado por e para pessoas apaixonadas pela DC, tudo sobre os Games, Quadrinhos, Filmes e TV relacionados a esse Universo!</p>
        </div>
        <div class="rightTri">
            <div class = "Triangulo">         
                <div class="social">
                <a class ="Icn" href="#"><iconify-icon icon="ic:baseline-whatsapp"  style="color: white"></iconify-icon></a>
                <a class ="Icn" href="#"><iconify-icon icon="mdi:instagram"  style="color: white"></iconify-icon></a>
                <a class ="Icn" href="#"><iconify-icon icon="ant-design:youtube-outlined"  style="color: white" ></iconify-icon></a>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</body>
</html>