<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LandingPageBatCaverna</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <div id="BlocoTotalLandingPage">
        <div id="logo">
          <img
            src="/public/assets/Logo Batcaverna Preto.svg"
            alt="Logo Batcaverna Preto"
          />
        </div>
        <div id="abertura">
          <img src="/public/assets/BatcavernaArkham 1.png" alt="Imagem da batcaverna com bordas arredondadas" />
          <span id="SobreNos">SOBRE NÓS</span
          ><span id="Publicacoes">PUBLICAÇÕES</span>
          <p>
            <span id="frase1"
              >BLOG IDEAL PARA OS<br />
              INTERESSADOS PELA DC.<br
            /></span>
            <span id="frase2"
              >DESDE OS MENOS CONHECEDORES<br />
              ATÉ OS OS FÃS MAIS AFICIONADOS!</span
            >
          </p>
          <div id="titulo">
            <h1>
              BEM-VINDO À BATCAVERNA, BLOG FOCADO EM TUDO QUE ENVOLVE A DC COMICS!
            </h1>
          </div>
        </div>
  
        <ul id="parteCentral">
          <li>
            <img
              id="BatmanLateral"
              src="/public/assets/ImagemBatmanLateral.jpg"
              alt="Imagem do batman etre prédios e destruição"
            />
          </li>
          <li>
            <div id="RetanguloVermelhoCentral">
              <h2>AQUI VOCÊ ENCONTRA:</h2>
            </div>
            <ul id="Lista2">
                <li>
                  <img
                    id="LogoDc"
                    src="/public/assets/DC_Comics_logo 1.png"
                    alt="Imagem de logo da Dc Comics em azul"
                  />
                  <div>
                    <h3>HISTÓRIA DA DC</h3>
                  </div>
                </li>
                <li>
                  <img
                    id="Interrogacao"
                    src="/public/assets/ImagemInterrogação.png"
                    alt="Imagem arredondada com interrgação preta em fundo vermelho"
                  />
                  <div>
                    <h3>CURIOSIDADES</h3>
                  </div>
                </li>
                <li>
                  <img
                    id="DailyPlanet"
                    src="/public/assets/DailyPlanet2.png"
                    alt="Imagem da logo do fictício Daily Planet"
                  />
                  <div>
                    <h3>NOTÍCIAS</h3>
                  </div>
                </li>
                <li>
                  <img
                    id="BatmanFatosDiversos"
                    src="/public/assets/BatmanFatosDiversos.png"
                    alt="Imagem do batman em fundo transparente"
                  />
                  <div>
                    <h3>FATOS DIVERSOS</h3>
                  </div>
                </li>
              </ul>
            <div id="RetanguloVermelhoCentral">
                <h2>PROPÓSITO:</h2>
              </div>
              <ul id="BlocoDoProposito">
               <li> 
                <svg id="seta" width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.0607 13.0607C35.6464 12.4749 35.6464 11.5251 35.0607 10.9393L25.5147 1.3934C24.9289 0.807611 23.9792 0.807611 23.3934 1.3934C22.8076 1.97918 22.8076 2.92893 23.3934 3.51472L31.8787 12L23.3934 20.4853C22.8076 21.0711 22.8076 22.0208 23.3934 22.6066C23.9792 23.1924 24.9289 23.1924 25.5147 22.6066L35.0607 13.0607ZM1.02204e-08 13.5L34 13.5L34 10.5L-1.02204e-08 10.5L1.02204e-08 13.5Z" fill="url(#paint0_linear_219_378)"/>
                    <defs>
                    <linearGradient id="paint0_linear_219_378" x1="3.40682e-09" y1="12.5" x2="34" y2="12.5" gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0.72"/>
                    <stop offset="1" stop-color="#CB2523"/>
                    </linearGradient>
                    </defs>
                    </svg>  
                </li>
              <li>   
                <p>
                    
                  Nesse blog, temos o objetivo de informar sobre a história da
                  Detetive Comics,<br />
                  publicar notícias sobre sua produção de conteúdo e seus
                  bastidores, bem como<br />
                  trazer as mais variadas curiosidades e fatos sobre suas obras e
                  personagens.<br />
                  Fazemos isso por meio frequentes publicações, como as mostradas
                  abaixo.<br />
                </p>
            </li>
            </ul>
          </li>
        </ul>
        <ul id="TextoUltimasPublicacoes">
            <li>
                <svg id="seta2" width="102" height="38" viewBox="0 0 102 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100.768 20.7678C101.744 19.7915 101.744 18.2085 100.768 17.2322L84.8579 1.32233C83.8816 0.34602 82.2986 0.34602 81.3223 1.32233C80.346 2.29864 80.346 3.88155 81.3223 4.85786L95.4645 19L81.3223 33.1421C80.346 34.1184 80.346 35.7014 81.3223 36.6777C82.2986 37.654 83.8816 37.654 84.8579 36.6777L100.768 20.7678ZM6.63779e-09 21.5L99 21.5L99 16.5L-6.63779e-09 16.5L6.63779e-09 21.5Z" fill="url(#paint0_linear_219_376)"/>
                <defs>
                <linearGradient id="paint0_linear_219_376" x1="1.32756e-09" y1="19.5" x2="99" y2="19.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B5B5B5"/>
                <stop offset="1" stop-color="#CB2523"/>
                </linearGradient>
                </defs>
                </svg>
            </li>
            <li>
                <h2>ÚLTIMAS PUBLICAÇÕES:</h2>
            </li>
        </ul>
      </div>      
  </body>
</html>
