<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="logo">
        <img src="../../../public/assets/Logo_Batcaverna_Preto_1 1 (2).png" alt="logo da batcaverna">
    </div>
    <div id="conteiner"> <!-- caixa principal -->
        
          <ul class="lista">
           <li> 
            <img src="../../../public/assets/a625d712ac589a2180ade4bf2c7c52fd.jpg" alt="perfil do post">
           </li>
           <li>
         <div id="titulo">DC: A ORIGEM</div>
        </li>
    </ul>
    
         <span id="conteudo">
            Texto informativo contando a história da DC COMICS, desde os primórdios, e como a empresa se tornou o que é hoje. A DC foi fundada em 1934, por Malcon Wheeler-Nicholson. Atualmente sua sede fica em Burkank, Califórnia, EUA. Suas propriedades nos dias de hoje pertencem a Warner Bros Entretainment, no qual vários filmes estão sendo produzidos para as telas de cinema.
         </span>
         <ul class="infos">
         <li>
            <div id="autor">Autor: Lex Luthor</div>
        </li>
        <li>
        <div id="data">Data de criação: 14/05/2024</div>
        </li>
        </ul>
    </div>
</body>
</html>