<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div id="bloco">
        <span id="flash">
           <img src="/public/assets/wb0144-8theflash-runningincentralcity50x70-7814-7549 1.png">
           </span>
           <span id="quadro">
               <span id="quadropreto">
                    <span id="post1">
                        <span id="bord1"></span>
                        <span id="batmanDoFuturo1">
                            <img src="/public/assets/batman do futuro.png">
                        </span>
                        <span id="titulo1">DC: A ORIGEM</span>
                        <span id="barrinha1"></span>
                        <span id="resumo1">Texto informativo contando a história de origem da DC Comics, desde os primórdios, e como a empresa se tornou o que é hoje.</span>
                        <div id="autor1">Autor: Lex Luthor</div>
                        <button id="lermais1">Ler Mais</button>
                    </span>
                    <span id="barra">
                        <span id="Pesquisar">Pesquisar</span>
                            <span id="lupa">
                                 <img src="/public/assets/ic_baseline-search.png">
                            </span>
                    </span>
                <span id="post2">
                    <span id="bord2"></span>
                    <span id="batmanDoFuturo">
                        <img src="/public/assets/batman do futuro.png">
                    </span>
                </span>
                <span id="post3">
                    <span id="bord2"></span>
                    <span id="batmanDoFuturo">
                        <img src="/public/assets/batman do futuro.png">
                    </span>
                </span>
                <span id="post4">
                    <span id="bord2"></span>
                    <span id="batmanDoFuturo">
                        <img src="/public/assets/batman do futuro.png">
                    </span>
                </span>
                <span id="post5">
                    <span id="bord2"></span>
                    <span id="batmanDoFuturo">
                        <img src="/public/assets/batman do futuro.png">
                    </span>
                </span>
                <span id="pag1">
                    <span id="recheio">5</span>
                </span>
                <span id="pag2">
                    <span id="recheio">4</span>
                </span>
                <span id="pag3">
                    <span id="recheio">3</span>
                </span>
                <span id="pag4">
                    <span id="recheio">2</span>
                </span>
                <span id="pag5">
                    <span id="recheio">1</span>
                </span>
                <span id="logo">
                    <img src="/public/assets/Logo_Batcaverna_vermelha (1) 1.png">
                </span>
               </span>
            
            </span>
        <span id="batman">
         <img src="/public/assets/2575d8e453c4d789cd3d3a3c318a9a1c 1 (1).png">
         </span>
    </div>
</body>
</html>