<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>batcavrna</title>
    <link rel="stylesheet" href= "../../../public/css/styles.css"/>
  </head>
  <body>
    <div class="principal">
      
        <H1 id="b">batcarverna</H1>
      <div class="bv">
        <h2>Bem Vindo(a) à BATCAVERNA</h2>
      </div>
      <div id="simbolo"><img src="../../../public/assets/sb.png" ></div>
      <div class="alfred"><img src="../../../public/assets/alfred.png" ></div>
      <div class="login">
        <form>
          <input type="text" placeholder="usuario" />
          <input type="password" placeholder="senha" />
          <input class="button"type="submit"value="login" />
        </form>
      </div>
    </div>
  </body>
</html>
