<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar</title>
        <link rel="stylesheet" href="../../../public/css/styles.css">
    </head>
    <body>
        <header>
            <img class="logo" src="../../../public/assets/Logo_Batcaverna_vermelha nav.png" alt="Logo_Batcaverna_vermelha">
            <nav>
                <ul class="buttons">
                    <li><a href="#">Publicações</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>

                </ul>
            </nav>
        </header>
    </body>
    </html>