<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar</title>
        <link rel="stylesheet" href="../../../public/css/styles.css">
        <script defer src="../../../public/js/index.js"></script>
    </head>
    <body>
        <header>
            <img class="logo-nav" src="../../../public/assets/Logo_Batcaverna_vermelha nav.png" alt="Logo_Batcaverna_vermelha">
            <nav class="nav">
                <button class="hamburguer"></button>
                <ul class="layout-nav">
                    <li><a class="btnav" href="#"><iconify-icon icon="octicon:book-16" width="17"></iconify-icon>Publicações</a></li>
                    <li><a class="btnav" href="#"><iconify-icon icon="mdi:home" width="24"></iconify-icon>Home</a></li>
                    <li><a class="btnav" href="#"><iconify-icon icon="bx:user" width="18" ></iconify-icon>Login</a></li>

                </ul>
            </nav>
        </header>
        <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    </body>
    </html>