<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="vsfundo">  
        <div class="divvs">
            <div class="divti">
                <h2 class="h2vs">VISUALIZAR USUÁRIO</h2>
            </div>
            <div class="vsidu">
                <p class="idu"> ID:</p>
            </div>
            <div class="divvn">
                <p class="pvs"> Nome:</p> 
                <p class="ppu">Usuario</p>
            </div>

            <div class="divve">
                <p class="pvs">Email:</p>
                <p class="ppu2">Usuario@email.com</p>
            </div>
            <button class="butvs">FECHAR</button>
            </div>
        </div>
   </div>
</body>
</html>